@using Microsoft.AspNetCore.Identity
@{
    var isAdmin = User.IsInRole("Admin");
    var isUser = User.IsInRole("User");
}

<nav>
    @if (isAdmin)
    {
        <a href="@Url.Action("Index", "Admin")">Admin Dashboard</a>
    }
    @if (isUser)
    {
        <a href="@Url.Action("UserDashboard", "User")">User Dashboard</a>
    }
    <a href="@Url.Action("Logout", "Account")">Logout</a>
</nav>
